    <html lang="en-US">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% if page.title == "Home" %}
            {{ site.title }} | {{ site.description }}
        {% else %}
            {{ page.title }} | {{ site.title }}
      {% endif %}
    </title>
    <meta name="description" content="
     {% if page.description %}{{ page.description }}
     {% else %}{{ site.description }}
    {% endif %}">

    <link rel="shortcut icon" href="{{"assets/ico/favicon.ico" | relative_url }}" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">    
    <link rel="stylesheet" href="/assets/highlight/styles/default.min.css" />
    <script src="/assets/highlight/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.13.1/css/all.min.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=PT+Serif&display=swap">

    <!-- SEO Plugin -->
    {% seo %}

    <!-- Google Analytics -->
    {% if site.data.settings.analytics-id%}
        {%- include analytics.html -%}
    {% endif %}
    <!-- End Google Analytics -->
