<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>

<body>

  <div class="container">
    {% include header.html %}

    <div class="post-container">
      <article id = "post">
        <h2 id = "post-title">{{ page.title }}</h2>

  {% if site.data.settings.date-under-post.active %}
  <div class = "post-info">
    <span>
        <i class="far fa-calendar" aria-hidden="true"></i> <span>{{ page.date | date: "%Y-%m-%d" }}</span> - <i class="far fa-clock"></i> {% include reading_time.html %}
    </span>
  </div>
  {% endif %}
        {{ content }}
      </article>
    </div>
    {% if site.data.settings.categories.active %}
      {% include categories.html %}
    {% endif %}

    {% if site.data.settings.related-posts.active %}
      {% include related-posts.html %}
    {% endif %}

    {% if site.data.settings.disqus.disqus_shortname %}
      {% include disqus.html %}
    {% endif %}

    {% if site.data.settings.gitalk.active %}
      <div id="gitalk-container"></div>
    {% endif %}
  </div>

{%- include footer.html -%}

{% if site.data.settings.mathjax.active %}
  <script id="MathJax-script" async src="https://cdn.bootcdn.net/ajax/libs/mathjax/3.2.0/es5/tex-mml-chtml.js"></script>
{% endif %}

{% if site.data.settings.gitalk.active %}
  <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
  <script>
    var gitalk = new Gitalk({
      clientID: '06c294a093091992f7d5',
      clientSecret: '6899b632a7b6edf4ff5171e1493154ed2658cf2d',
      repo: 'blogtalk',
      owner: 'songjian',
      admin: ['songjian'],
      id: location.pathname,      // Ensure uniqueness and length less than 50
      distractionFreeMode: false  // Facebook-like distraction free mode
    })

    gitalk.render('gitalk-container')
  </script>
{% endif %}
</body>
</html>
